<configuration>

  <!--Connection String should be mentioned here-->
  <connectionStrings>
    <add name="SIGEPROJ_BD" connectionString="Data Source=DIEGO-NBX\SIGEPROJ;User=sa;Pass=12;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="SIGEPROJ.WCF.ServiceLayer.Services.ProcesoService" behaviorConfiguration="metadataAndDebug">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="ProcesoService" binding="wsHttpBinding" bindingConfiguration="" contract="SIGEPROJ.WCF.ServiceLayer.Services.IProcesoService"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SIGEPROJ.WCFHost/ProcesoService.svc/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataAndDebug">
          <serviceMetadata  httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" >
      <serviceActivations>
        <add service="SIGEPROJ.WCF.ServiceLayer.Services.ProcesoService" relativeAddress ="~/ProcesoService.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>